@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&family=Raleway:wght@300&family=Rubik&display=swap');



*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Rubik', sans-serif;
}

body::-webkit-scrollbar{
    display: none;
}

main {
    padding: 1rem 2rem;
    background-color: #ffffff90;
    border: 1px solid black;
    position: relative;
}

#img-bg {
    position: fixed;
    margin: 0 auto;
    min-width: 100vw;
    min-height: 100vh;
    /* overflow: hidden; */
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.8;
}

#img-pro {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    z-index: 1;
    background-color: white;
}

h1, h2, blockquote, p {
    margin: 2rem 0;
}  

h1 {
    font-size: 3rem; 
}

blockquote {
    margin-left: 3rem;
}

table {
    margin: .3rem 0;
}

tr {
    line-height: 1.5rem;
}

th {
    text-align: left;
    width: 30vw;
}

ol {
    margin-left: 3rem;
    font-weight: 800;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

ol ul {
    margin-left: 2rem;
    font-size: 1rem;
}

ol ul ul {
    font-weight: 400;
}

ol li {
    margin-top: 1rem;
    margin-bottom: .5rem;
}
ol ul li {
    margin-top: 0;
    margin-bottom: .3rem;
}
ol ul ul li {
    margin-top: 0;
    margin-bottom: .1rem;
}

p#link {
    text-align: center;
    font-size: 1.5rem;
}




/* MEDIA QUERIES */

@media screen and (min-width: 360px) {
    main {
        width: 80vw;
        margin: 0 auto;
        padding: 1rem 4rem;
    }
    th {
        width: 25vw
    }
}
@media screen and (min-width: 860px) {
    main {
        width: 70vw;
        padding: 1rem 6rem;
    }
    th {
        width: 20vw;
    }
}
@media screen and (min-width: 1200px) {
    main {
        width: 60vw;
        padding: 1rem 4rem;
    }
    th {
        width: 15vw;
    }
}
@media screen and (min-width: 1600px) {
    main {
        width: 60vw;
        padding: 1rem 6rem;
    }
    th {
        width: 15vw;
    }
}
@media screen and (min-width: 1800px) {
    main {
        padding: 1rem 8rem;
    }
    th {
        width: 10vw;
    }
}